.conteiner {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--background-app);
    margin-top: var(--spacing-gg);            
}

.titulo {
    font-family: var(--font-logo);
    font-size: var(--text-xl);
    font-weight: var(--weight-bold);
    text-align: center;
    color: var(--white);
    margin-bottom: var(--spacing-md);
}

.hoops {
    color: var(--color-primary);
}

.formulario {
    width: 360px;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    padding: var(--spacing-g);
    border-radius: 24px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.15);
}

.campo {
    width: 100%;
    height: 52px;
    padding: 0 20px;
    border-radius: 999px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.06);
    color: var(--text-primary);
    font-size: var(--text-m);
    font-family: inherit;
    outline: none;
    transition: 0.2s ease;
    font-family: var(--font-primary);
}

.campo::placeholder {
    color: var(--text-secondary);
}

.campo:focus {
    border-color: var(--color-primary);
    box-shadow: 0 0 8px rgba(255, 122, 0, 0.3);
}

textarea {
    width: 100%;
    min-height: 150px;
    resize: vertical;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.06);
    color: var(--text-primary);
    font-size: var(--text-m);
    font-family: inherit;
    outline: none;
    transition: 0.2s ease;
}

.botao {
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-sm);
    border: none;
    border-radius: 999px;
    background: #d8d8d8;
    color: #1c2a30;
    font-size: var(--text-g);
    font-weight: var(--weight-bold);
    cursor: pointer;
    transition: 0.2s;
}

.botao:hover {
    transform: translateY(-2px);
    filter: brightness(1.05);
}


.mensagem {
    margin-top: -8px;
    color: var(--mensagem);
    font-size: var(--text-p);
    font-weight: var(--weight-medium);
}