*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

a{
  text-decoration: none;
  color: inherit;
}



:root{

  --background-app: linear-gradient( 350deg, var(--color-secondary) 0%, var(--black) 45%, var(--color-primary) 100% );
  
  --color-primary: #FF6A13;
  --color-secondary: #003B5C;
  --white: #ffffff;
  --black: #000000;
  --mensagem: #ff5b5b;

  --background-primary: #0f172a;
  --background-secondary: #1e293b;

  --text-primary: #ffffff;
  --text-secondary: #94a3b8;

  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-g: 44px;
  --spacing-gg: 64px;
  --spacing-supergg: 128px;

  --radius-md: 12px;

  --font-primary: 'Inter', sans-serif;
  --font-logo: 'Poppins', sans-serif;

  --text-pp: 12px;
  --text-p: 14px;
  --text-m: 16px;
  --text-g: 20px;
  --text-gg: 28px;
  --text-xl: 40px;
  --text-xxl: 64px;

  --weight-regular: 400;
  --weight-medium: 500;
  --weight-bold: 700;

}
