.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 8%;

    background: var(--background-secondary);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);

    z-index: 1000;
}

.logo {
    text-decoration: none;
    font-size: var(--text-gg);
    font-weight: var(--weight-bold);
    color: var(--color-primary);

    transition: 0.3s ease;

    font-family: var(--font-logo);
}

.logo:hover {
    transform: scale(1.03);
    text-shadow: 0 0 12px rgba(255, 106, 19, 0.4);
}

.navbar {
    display: flex;
    align-items: center;
    gap: var(--spacing-g);
    font-family: var(--font-title);
}

.navbar a {
    position: relative;

    text-decoration: none;
    color: var(--white);
    font-size: var(--text-g);
    font-weight: var(--weight-medium);

    transition: color 0.25s ease;
}

.navbar a:hover {
    color: var(--text-primary);
}

.navbar a::after {
    content: "";

    position: absolute;
    left: 50%;
    bottom: calc(var(--spacing-sm) * -1);

    width: 0;
    height: 2px;

    background: var(--color-primary);
    border-radius: 999px;

    transform: translateX(-50%);
    transition: width 0.25s ease;
}

.navbar a:hover::after {
    width: 100%;
}

/* Destaque para o botão Entrar */
.loginButton {
    padding: var(--spacing-sm) var(--spacing-md);

    background: var(--color-primary);
    color: var(--white);

    border-radius: 15px;
    font-weight: var(--weight-semibold);

    transition: transform 0.25s ease, opacity 0.25s ease;
}

.loginButton::after {
    display: none;
}

.loginButton:hover {
    transform: translateY(-2px);
    opacity: 0.9;
}